* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #ff6b6b, #3f51b5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.scoreboard {
  border: 5px solid;
  border-image: linear-gradient(
    180deg,
    #FE87FF 2.87%,
    #C202D3 34.05%,
    #5E0FFF 67.82%,
    #1905DA 99.15%
  );
  border-image-slice: 1;
  height: 250px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 30px;
}
.logo img {
  height: 150px;
  object-fit: contain;
}

.score {
  border: 5px solid;
  border-image: linear-gradient(
    180deg,
    #FE87FF 2.87%,
    #C202D3 34.05%,
    #5E0FFF 67.82%,
    #1905DA 99.15%
  );
  border-image-slice: 1;
  display: flex;
  background-color: #fefefe;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.score h1 {
  font-size: 30px;
  color: wheat;
}
.score p {
  font-size: 30px;
  color: wheat;
}

.hand {
  display: flex;
  width: 470px;
  height: 420px;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../assets/triangle.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hand img {
  width: 200px;
  height: 200px;
  display: block;
  cursor: pointer;
  margin: 10px;
}

.hand img:hover {
  transform: translate3d(0px, -5px, 0px);
  transition: all 0.3s;
}

.result_board {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.human_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.human_choice p {
  font-size: 25px;
  font-weight: 600;
  color: #fefefe;
  text-transform: uppercase;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.result p {
  font-size: 40px;
  color: #fefefe;
  font-weight: 600;
}

.result .btn {
  background-color: antiquewhite;
  padding: 10px 20px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.result .btn:hover {
  transform: translate3d(0px -5px 0px);
  background-color: wheat;
}

.computer_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.computer_choice p {
  font-size: 25px;
  font-weight: 600;
  color: #fefefe;
  text-transform: uppercase;
}
